
body {
    background-color: black;
    background-size: cover;
    margin: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    }

#container {
    display: flex;
    min-height: 100vh;
}

h2 {
  font-size: 50px;
}
ul {
  position: sticky;
  top: 0;  
  list-style-type: none;
}

li a {

  color: white;
  background-color:black;
  text-decoration: none;
  display: flex;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;  
  width: 20%;
  text-align: justify;
  }


li a:active {
  color: #117719;  
}

.navi {
  padding: 5px;
  margin: 5px;
  position: sticky;
 
  top: 0;
  width: 100%;
  border: solid;
  border-radius: 15px 15px 15px 15px;
  text-align: start;
  background-color: black;
  z-index : 2;

 
  display: flex;
  
}


.navi li b{
  color: white;
  font-family: sans-serif;
  
  text-decoration: none;
}

li a:hover {
  color: #117719;  
}


p {
    font-size: large;
   
    justify-content: justify;


}

.content {
    text-align: center;
    margin: auto;
}


img {
    width: 50%;
    height: auto;
}
.logo {
    width: 20em;
}

.logo2 {
  width: 10px;
}

a {
    color: #19b476;
    text-decoration: none;
    font-size: 30px;
  }

a:hover {
    color: #117719;  
}



.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  flex-direction:column;
justify-content:justify;
text-align:justify; 
margin: 20px;
}

#wireframe{
  margin-left: 25%;
  height: 500px;
  width: 375px;
}
.column img {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: middle;
  width: 100%;
}
.gifColumn {
  flex: 33%;
  flex-direction:column;
justify-content:center;
text-align:center; }

.gifColumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 30%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .gifColumn {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .gifColumn {
    flex: 100%;
    max-width: 100%;
  }
}