body {
    background-color: black;
    color: lavender;
}

#h {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: small;
}


canvas{
/*     background-image: url("https://raw.githubusercontent.com/fionavi/EIA2-WS-21-22/main/L09.1/Media/farm3.jpg");
 */
    float: center;
  
    margin-left: 7%;

 
}

div#cow {
background-color: aqua;
width: 100px;
height: 100px;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  body, canvas {
    width: 80%;
  }
}

