body {
    background-color: black;
    color: lavender;
}

#h {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: small;
}

canvas{
  float: center;
  margin-left: 20%;
/*   margin-right: 30%;
 */  margin-top: 3%;
  width: 60%; /* The width is 50%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  body, canvas {
    width: 80%;
  }
}

